.bgt{
	min-height: 130px;
	background-color: rgb(100,100,100);
	/*background-image: url(../img/top01.png)*/
}
.bgl{
	margin-top: 5px;
	min-height: 600px;
	background-color: rgb(100,100,100);
}
.bgr{
	/*background-color: rgb(200,210,200);*/
	margin-top: 5px;
	min-height: 600px;
}
h2,h4{
	height: 100px;
	line-height: 100px;
	font-family: "新宋体";
	color: white;
}
h2{
	padding-left: 20px;
}
h4{
	padding-top: 55px;
	text-align: center;
}

#menu a{
	display: block;
	text-decoration: none;
	color: white;
}
#menu .panel{
	margin-top: 30px;
	text-align: center;
	letter-spacing: 5px;
	font-size: large;
	
}
.panel-body{
	background-color: rgb(100,100,100);
}
.glyphicon{
	color: white;
}
.admin{
	text-align: center;
	padding-top: 90px;
}
.admin a{
	font-size: large;
	color: white;
	text-decoration: none;
}
